.footer {
    flex: 0 1 auto;
    text-align: center;
    padding: 0;
    outline: 1px solid black;
    user-select: none;

    background-color: $color-header-background;
    background: -moz-linear-gradient(-45deg, #bfbfbf 0%, #d3d3d3 50%, #bfbfbf 100%);
    background: -webkit-linear-gradient(-45deg, #bfbfbf 0%,#d3d3d3 50%,#bfbfbf 100%);
    background: linear-gradient(135deg, #bfbfbf 0%,#d3d3d3 50%,#bfbfbf 100%);

    > h1 {
        display: inline-flex;
        padding: 8px 12px;
        margin: 0;
        color: $color-header-text;
        font-weight: bold;
        font-size: 28px;
    }
}