.player {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    text-align: center;
    font-weight: bold;
    outline: $outline;

    &[data-player="red"] {
        background: $color-player-red;
        background: $gradient-player-red;

        .building-count, .building-demand {
            border: 3px solid $color-player-red;
        }
    }

    &[data-player="blue"] {
        background: $color-player-blue;
        background: $gradient-player-blue;

        .building-count, .building-demand {
            border: 3px solid $color-player-blue;
        }
    }

    &[data-player="green"] {
        background: $color-player-green;
        background: $gradient-player-green;

        .building-count, .building-demand {
            border: 3px solid $color-player-green;
        }
    }

    &[data-player="yellow"] {
        background: $color-player-yellow;
        background: $gradient-player-yellow;

        .building-count, .building-demand {
            border: 3px solid $color-player-yellow;
        }
    }

    &__header {
        background: $color-player-header-background;
        display: inline-flex;
        flex: 0 1 auto;
        padding: 8px 0;

        &__item {
            flex: 1 1 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 0;

            &--fixed {
                flex: 0 1 auto;
            }

            div {
                font-weight: bold;
                font-size: 38px;
                white-space: nowrap;
                overflow: hidden;
                padding: 0 4px;
            }

            img {
                height: 30px;
                display: inline-block;
                padding: 5px 4px;
            }

            .star {
                padding: 5px 3px;
            }

            .income {
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                padding: 0 4px;
                color: $color-income;
            }
        }

    }

    &__buildings {
        flex: 3 1 0;
        display: flex;
        outline: $outline;

        .building-column {
            display: flex;
            padding: 0;
            flex: 1 1 0;
            flex-direction: column;
            outline: 1px solid black;
            user-select: none;
        
            &:nth-child(2n) {
                outline: none;
            }
        }
        
        .building-row {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative; /*for .popover*/
        
            height: 20%;
            width: 100%;
            padding: 6px 0;
        
            img {
                height: 60px;
                width: 60px;
                vertical-align: middle;
            }
        }
        
        .building-price {
            font-size: 42px;
            font-weight: bold;
            vertical-align: middle;
        
            margin-left: 6px;
        }
        
        .building-count {
            height: 38px;
            width: 38px;
        
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
        
            background-color: black;
            font-size: 35px;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            border-radius: 50%;

            &.remove-mode {
                color: $color-remove-mode;
            }
        }
    }
}