.player {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    text-align: center;
    font-weight: bold;
    outline: 1px solid black;

    &[data-player="red"] {
        background: $color-player-red;
        background: -moz-radial-gradient(center, ellipse cover, #ff826b 0%, #d36b58 100%);
        background: -webkit-radial-gradient(center, ellipse cover, #ff826b 0%,#d36b58 100%);
        background: radial-gradient(ellipse at center, #ff826b 0%,#d36b58 100%);
    }

    &[data-player="blue"] {
        background: $color-player-blue;
        background: -moz-radial-gradient(center, ellipse cover, #7492e9 0%, #5b74b7 100%);
        background: -webkit-radial-gradient(center, ellipse cover, #7492e9 0%,#5b74b7 100%);
        background: radial-gradient(ellipse at center, #7492e9 0%,#5b74b7 100%);
    }

    &[data-player="green"] {
        background: $color-player-green;
        background: -moz-radial-gradient(center, ellipse cover, #92e692 0%, #80c980 100%);
        background: -webkit-radial-gradient(center, ellipse cover, #92e692 0%,#80c980 100%);
        background: radial-gradient(ellipse at center, #92e692 0%,#80c980 100%);
    }

    &[data-player="yellow"] {
        background: $color-player-yellow;
        background: -moz-radial-gradient(center, ellipse cover, #ffff9e 1%, #dbdb87 100%);
        background: -webkit-radial-gradient(center, ellipse cover, #ffff9e 1%,#dbdb87 100%);
        background: radial-gradient(ellipse at center, #ffff9e 1%,#dbdb87 100%);
    }

    &__header {
        background: $color-player-header-background;
        display: inline-flex;
        flex: 0 1 auto;
        padding: 8px 0;

        > div {
            display: inline-block;
            width: 33%;
            font-weight: bold;
            font-family: dragon, calibri;
            font-size: 36px;
        }

        .income {
            color: $color-income;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        .debt {
            color: $color-debt;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

            .center {
                display: inline-flex;

                div {
                    display: inline-block;
                }
            }

            img {
                height: 30px;
                padding: 5px 0 5px 10px;
                display: inline-block;
            }
        }
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        &__inventory {
            flex: 1 1 0;
            display: flex;
            outline: 1px solid black;
        }
        
        &__buildings {
            flex: 3 1 0;
            display: flex;
            box-shadow: inset 0px 5px 1px -5px $color-shadow;

            > div:nth-child(odd) {
                margin-top: 1px;
            }
        }
    }
}