.resource {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    text-align: center;
    font-weight: bold;
    outline: 1px solid black;


    &__demand {
        flex: 0 1 auto;
    
        > h2 {
            text-transform: capitalize;
            font-size: 42px;
            margin-top: 4px;
            margin-bottom: 6px;
        }
    
        > div {
            margin-top: 6px;
            margin-bottom: 0px;
            height: 72px;
        }
    }

    &__price {
        display: flex;
        flex: 1 1 0;
        margin-top: -14px;
    
        > h2 {
            margin-left: 5px;
            display: flex;
            align-items: center;
            width: 40%;
            margin-right: 10%;
            font-size: 86px;
            margin-top: 0;
            line-height: 100%;
            margin-bottom: 0;
        }
    }

    &__flex-container {
        flex: 0 1 auto;
        height: 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2px;
        margin-bottom: 8px;
        padding: 0 10px;

        &--reverse {
            flex-wrap: wrap-reverse;   
        }
    
        .item-template {
            display: inline-flex;
    
            &--narrow {
                > img {
                    margin: 0 -6px;
                }
            }
    
            &--inactive {
                > img {
                    filter: grayscale(1);
                    opacity: 0.2;
                }
            }

            &--hidden {
                > img {
                    display: none;
                }
            }
    
            > img {
                padding: 0 1px;
                width: 38px;
                height: 38px;
            }
        }
    }
    
    &__buttons {
        display: inline-flex;
        flex: 0 1 auto;
    
        font-weight: bold;
        font-size: 28px;

        outline: 1px solid black;

        :nth-child(1) {
            outline: none;
        }

        > div {
            display: inline-block;
            width: 50%;
            padding: 5px 0px;
            user-select: none;

            outline: 1px solid black;

            &:hover {
                background: $color-button-hover;
            }
        }
    }

    &[data-resource="power"] {
        background: $color-power;
        background: -webkit-radial-gradient(center, #ADFCAC, #4F734F);
        background: -moz-radial-gradient(center, #ADFCAC, #4F734F);
        background: radial-gradient(circle at center, #ADFCAC, #4F734F);        
    }

    &[data-resource="iron"] {
        background: $color-iron;
        background: -webkit-radial-gradient(center, #AC906A, #736044);
        background: -moz-radial-gradient(center, #AC906A, #736044);
        background: radial-gradient(circle at center, #AC906A, #736044);        
    }

    &[data-resource="aluminium"] {
        background: $color-aluminium;
        background: -webkit-radial-gradient(center, #98D3CC, #557F7A);
        background: -moz-radial-gradient(center, #98D3CC, #557F7A);
        background: radial-gradient(circle at center, #98D3CC, #557F7A);
    }

    &[data-resource="carbon"] {
        background: $color-carbon;
        background: -webkit-radial-gradient(center, #646478, #464650);
        background: -moz-radial-gradient(center, #646478, #464650);
        background: radial-gradient(circle at center, #646478, #464650);
    }

    &[data-resource="steel"] {
        background: $color-steel;
        background: -webkit-radial-gradient(center, #F0F0F4, #838386);
        background: -moz-radial-gradient(center, #F0F0F4, #838386);
        background: radial-gradient(circle at center, #F0F0F4, #838386);        
    }

    &[data-resource="lithium"] {
        background: $color-lithium;
        background: -webkit-radial-gradient(center, #FFFBC7, #B7B492);
        background: -moz-radial-gradient(center, #FFFBC7, #B7B492);
        background: radial-gradient(circle at center, #FFFBC7, #B7B492);        
    }
}