<div id="overlay"></div>
<!-- Popup for produce start -->
<div id="popup" class="popup">
    <div class="prod-demand">
        <h1>Demand: Power</h1>
    </div>
    <div class="prod-table">
        <div data-player="red" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerRed</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
        <div data-player="blue" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerBlue</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
        <div data-player="green" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerGreen</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
        <div data-player="yellow" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerYellow</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
    </div>
    <div class="prod-buttons shadow-top-right">
        <div class="prod-buttons__cancel">Cancel</div>
        <div class="prod-buttons__produce">Produce</div>
    </div>
    
</div>
<!-- Popup for produce end -->

<div class="container">
    <div class="flex-box box-market">
        <div class="box-header">
            <img id="settingsBtn" src="resources/icons/others/Settings.svg">
            <h1 id="produceBtn">Produce</h1>
        </div>
        <div class="box-content">
            <div data-resource="power" class="resource-container">
                    <div class="box-item-demand">
                        <h2>Power</h2>
                        <p>Demand: 0</p>
                    </div>
                    <div class="box-item-price">
                        <div class="img-container">
                            <img src="resources/icons/market/power.png">
                        </div>
                        <h2>0$</h2>
                    </div>
                    <div class="box-item-supply">
                        <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                        <div class="supply-template supply-template--narrow">
                            <img src="resources/icons/market/power.png">
                        </div>
                    </div>
                    <div class="box-item-buttons">
                        <div data-val="-1" class="minus shadow-top-right">-</div>
                        <div data-val="1" class="plus shadow-top-left">+</div>
                    </div>                  
                </div>                
                <div data-resource="iron" class="resource-container">
                    <div class="box-item-demand">
                        <h2>Iron</h2>
                        <p>Demand: 0</p>
                    </div>
                    <div class="box-item-price">
                        <div class="img-container">
                            <img src="resources/icons/market/iron.png">
                        </div>
                        <h2>0$</h2>
                    </div>
                    <div class="box-item-supply">
                        <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                        <div class="supply-template">
                            <img src="resources/icons/market/iron.png">
                        </div>
                    </div>
                    <div class="box-item-buttons">
                        <div data-val="-1" class="minus shadow-top-right">-</div>
                        <div data-val="1" class="plus shadow-top-left">+</div>
                    </div>
                </div>
                <div data-resource="aluminium" class="resource-container">
                    <div class="box-item-demand">
                        <h2>Aluminum</h2>
                        <p>Demand: 0</p>
                    </div>
                    <div class="box-item-price">
                        <div class="img-container">
                            <img src="resources/icons/market/aluminium.png">
                        </div>
                        <h2>0$</h2>
                    </div>
                    <div class="box-item-supply">
                        <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                        <div class="supply-template">
                            <img src="resources/icons/market/aluminium.png">
                        </div>
                    </div>
                    <div class="box-item-buttons">
                        <div data-val="-1" class="minus shadow-top-right">-</div>
                        <div data-val="1" class="plus shadow-top-left">+</div>
                    </div>
                </div>
                <div data-resource="carbon" class="resource-container">
                    <div class="box-item-demand">
                        <h2>Carbon</h2>
                        <p>Demand: 0</p>
                    </div>
                    <div class="box-item-price">
                        <div class="img-container">
                            <img src="resources/icons/market/carbon.png">
                        </div>
                        <h2>0$</h2>
                    </div>
                    <div class="box-item-supply">
                        <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                        <div class="supply-template">
                            <img src="resources/icons/market/carbon.png">
                        </div>
                    </div>
                    <div class="box-item-buttons">
                        <div data-val="-1" class="minus shadow-top-right">-</div>
                        <div data-val="1" class="plus shadow-top-left">+</div>
                    </div>
                </div>          
                <div data-resource="steel" class="resource-container">
                    <div class="box-item-demand">
                        <h2>Steel</h2>
                        <p>Demand: 0</p>
                    </div>
                    <div class="box-item-price">
                        <div class="img-container">
                            <img src="resources/icons/market/steel.png">
                        </div>
                        <h2>0$</h2>
                    </div>
                    <div class="box-item-supply">
                        <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                        <div class="supply-template">
                            <img src="resources/icons/market/steel.png">
                        </div>
                    </div>
                    <div class="box-item-buttons">
                        <div data-val="-1" class="minus shadow-top-right">-</div>
                        <div data-val="1" class="plus shadow-top-left">+</div>
                    </div>
                </div>
                <div data-resource="lithium" class="resource-container">
                    <div class="box-item-demand">
                        <h2>Lithium</h2>
                        <p>Demand: 0</p>
                    </div>
                    <div class="box-item-price">
                        <div class="img-container">
                            <img src="resources/icons/market/lithium.png">
                        </div>
                        <h2>0$</h2>
                    </div>
                    <div class="box-item-supply">
                        <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                        <div class="supply-template">
                            <img src="resources/icons/market/lithium.png">
                        </div>
                    </div>
                    <div class="box-item-buttons">
                        <div data-val="-1" class="minus shadow-top-right">-</div>
                        <div data-val="1" class="plus shadow-top-left">+</div>
                    </div>
                </div>                         
            </div>
    </div>
    <div class="flex-box box-players">
        <div class="box-content">
            {{> player color='red'}}
            {{> player color='blue'}}
            {{> player color='green'}}
            {{> player color='yellow'}}
        </div>
    </div>
    <div class="box-footer">
        <h1 id="marketText">Market</h1>
    </div>
</div>