<div data-building="governmentContracts" class="building-row">
    <img src="resources/icons/buildings/governmentContracts.svg">
    <div class="building-price">0$</div>
    <div class="building-count">0</div>
    <div class="popover">
        <div class="popover__option">
            <div class="building-demand"><img src="resources/icons/others/checkmark.svg"></div>
            <img data-contract-resource="power" src="resources/icons/market/power.png">
        </div>
        <div class="popover__option">
            <div class="building-demand"><img src="resources/icons/others/checkmark.svg"></div>
            <img data-contract-resource="iron" src="resources/icons/market/iron.png">
        </div>
        <div class="popover__option">
            <div class="building-demand"><img src="resources/icons/others/checkmark.svg"></div>
            <img data-contract-resource="aluminium" src="resources/icons/market/aluminium.png">
        </div>
        <div class="popover__option">
            <div class="building-demand"><img src="resources/icons/others/checkmark.svg"></div>
            <img data-contract-resource="carbon" src="resources/icons/market/carbon.png">
        </div>
        <div class="popover__option">
            <div class="building-demand"><img src="resources/icons/others/checkmark.svg"></div>
            <img data-contract-resource="steel" src="resources/icons/market/steel.png">
        </div>
        <div class="popover__option">
            <div class="building-demand"><img src="resources/icons/others/checkmark.svg"></div>
            <img data-contract-resource="chemicals" src="resources/icons/market/chemicals.png">
        </div>
    </div>
</div>