<div class="flex-box box-market">
    
    <div class="box-content">
        <div data-resource="power" class="resource-container">
            <div class="box-item-demand">
                <h2>Power</h2>
                <p>Demand: 0</p>
            </div>
            <div class="box-item-price">
                <div class="img-container">
                    <img src="resources/icons/market/power.png">
                </div>
                <h2>0$</h2>
            </div>
            <div class="box-item-supply">
                <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                <div class="supply-template supply-template--narrow">
                    <img src="resources/icons/market/power.png">
                </div>
            </div>
            <div class="box-item-buttons">
                <div data-val="-1" class="minus shadow-top-right">-</div>
                <div data-val="1" class="plus shadow-top-left">+</div>
            </div>                  
        </div>                
        <div data-resource="iron" class="resource-container">
            <div class="box-item-demand">
                <h2>Iron</h2>
                <p>Demand: 0</p>
            </div>
            <div class="box-item-price">
                <div class="img-container">
                    <img src="resources/icons/market/iron.png">
                </div>
                <h2>0$</h2>
            </div>
            <div class="box-item-supply">
                <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                <div class="supply-template">
                    <img src="resources/icons/market/iron.png">
                </div>
            </div>
            <div class="box-item-buttons">
                <div data-val="-1" class="minus shadow-top-right">-</div>
                <div data-val="1" class="plus shadow-top-left">+</div>
            </div>
        </div>
        <div data-resource="aluminium" class="resource-container">
            <div class="box-item-demand">
                <h2>Aluminum</h2>
                <p>Demand: 0</p>
            </div>
            <div class="box-item-price">
                <div class="img-container">
                    <img src="resources/icons/market/aluminium.png">
                </div>
                <h2>0$</h2>
            </div>
            <div class="box-item-supply">
                <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                <div class="supply-template">
                    <img src="resources/icons/market/aluminium.png">
                </div>
            </div>
            <div class="box-item-buttons">
                <div data-val="-1" class="minus shadow-top-right">-</div>
                <div data-val="1" class="plus shadow-top-left">+</div>
            </div>
        </div>
        <div data-resource="carbon" class="resource-container">
            <div class="box-item-demand">
                <h2>Carbon</h2>
                <p>Demand: 0</p>
            </div>
            <div class="box-item-price">
                <div class="img-container">
                    <img src="resources/icons/market/carbon.png">
                </div>
                <h2>0$</h2>
            </div>
            <div class="box-item-supply">
                <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                <div class="supply-template">
                    <img src="resources/icons/market/carbon.png">
                </div>
            </div>
            <div class="box-item-buttons">
                <div data-val="-1" class="minus shadow-top-right">-</div>
                <div data-val="1" class="plus shadow-top-left">+</div>
            </div>
        </div>          
        <div data-resource="steel" class="resource-container">
            <div class="box-item-demand">
                <h2>Steel</h2>
                <p>Demand: 0</p>
            </div>
            <div class="box-item-price">
                <div class="img-container">
                    <img src="resources/icons/market/steel.png">
                </div>
                <h2>0$</h2>
            </div>
            <div class="box-item-supply">
                <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                <div class="supply-template">
                    <img src="resources/icons/market/steel.png">
                </div>
            </div>
            <div class="box-item-buttons">
                <div data-val="-1" class="minus shadow-top-right">-</div>
                <div data-val="1" class="plus shadow-top-left">+</div>
            </div>
        </div>
        <div data-resource="lithium" class="resource-container">
            <div class="box-item-demand">
                <h2>Lithium</h2>
                <p>Demand: 0</p>
            </div>
            <div class="box-item-price">
                <div class="img-container">
                    <img src="resources/icons/market/lithium.png">
                </div>
                <h2>0$</h2>
            </div>
            <div class="box-item-supply">
                <!-- All occurences of $(".supply-template") will be cloned upon UI initialization (See ui.js) -->
                <div class="supply-template">
                    <img src="resources/icons/market/lithium.png">
                </div>
            </div>
            <div class="box-item-buttons">
                <div data-val="-1" class="minus shadow-top-right">-</div>
                <div data-val="1" class="plus shadow-top-left">+</div>
            </div>
        </div>                         
    </div>
</div>