<div id="overlay"></div>

<div id="popup" class="popup">
    <div class="prod-demand">
        <h1>Demand: Power</h1>
    </div>
    <div class="prod-table">
        <div data-player="red" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerRed</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
        <div data-player="blue" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerBlue</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
        <div data-player="green" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerGreen</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
        <div data-player="yellow" class="prod-table__column">
            <div class="prod-table__column__header">
                <h1 class="name">PlayerYellow</h1>
            </div>
            <div class="prod-table__column__content">0$</div>
        </div>
    </div>
    <div class="prod-buttons shadow-top-right">
        <div class="prod-buttons__cancel">Cancel</div>
        <div class="prod-buttons__produce">Produce</div>
    </div>
    
</div>