<div data-player="{{color}}" class="player-container">
    <div class="header">
        <div class="name">Player</div>
        <div class="income">0$</div>
        <div class="debt">
            <div class="center">
                <div>0$</div>
                <img src="resources/icons/others/coin.svg">
            </div>
        </div>
    </div>
    <div class="box-item-player-content">
        <div class="box-item-player-content-inventory shadow-bottom">
            <div class="building-column">
                <div data-building="mineIron" class="building-row building-row--small">
                    <img src="resources/icons/buildings/MineIron.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
                <div data-building="windTurbine" class="building-row building-row--small">
                    <img src="resources/icons/buildings/WindTurbine.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
            </div>
            <div class="building-column">
                <div data-building="mineAluminium" class="building-row building-row--small">
                    <img src="resources/icons/buildings/MineAluminium.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
                <div data-building="geothermalPlant" class="building-row building-row--small">
                    <img src="resources/icons/buildings/GeothermalPlant.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
            </div>
            <div class="building-column">
                <div data-building="mineCarbon" class="building-row building-row--small">
                    <img src="resources/icons/buildings/MineCarbon.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
                <div data-building="fossilPowerPlant" class="building-row building-row--small">
                    <img src="resources/icons/buildings/FossilPowerPlant.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
            </div>
            <div class="building-column">
                <div data-building="furnace" class="building-row building-row--small">
                    <img src="resources/icons/buildings/Furnace.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
                <div data-building="supplyConnector" class="building-row building-row--small">
                    <img src="resources/icons/buildings/SupplyConnector.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
            </div>
            <div class="building-column">
                <div data-building="lab" class="building-row building-row--small">
                    <img src="resources/icons/buildings/Lab.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
                <div data-building="constructionSite" class="building-row building-row--small">
                    <img src="resources/icons/buildings/ConstructionSite.svg">
                    <div class="building-multiplier">x</div>
                    <div class="building-count">0</div>
                </div>
            </div>
        </div>
        <!-- Bottom bar -->
        <div class="box-item-player-content-buildings">
            <div class="building-column">
                <div data-building="mineIron" class="building-row">
                    <div class="popover">
                        <img data-mine="mineIron" src="resources/icons/market/iron.png">
                        <img data-mine="mineAluminium" src="resources/icons/market/aluminium.png">
                        <img data-mine="mineCarbon" src="resources/icons/market/carbon.png">
                    </div>
                    <img src="resources/icons/buildings/Mine.svg">
                    <div class="building-price">0$</div>
                </div>
                <div data-building="furnace" class="building-row">
                    <img src="resources/icons/buildings/Furnace.svg">
                    <div class="building-price">0$</div>
                </div>
                <div data-building="lab" class="building-row">
                    <img src="resources/icons/buildings/Lab.svg">
                    <div class="building-price">0$</div>
                </div>
                <!-- Technology -->
                <div data-technology="marketManipulator" class="building-row shadow-top">
                    <img src="resources/icons/buildings/MarketManipulator.svg">
                    <div class="building-price">0$</div>
                </div>
            </div>
            <div class="building-column">
                <div data-building="windTurbine" class="building-row">
                    <img src="resources/icons/buildings/WindTurbine.svg">
                    <div class="building-price">0$</div>
                </div>
                <div data-building="geothermalPlant" class="building-row">
                    <img src="resources/icons/buildings/GeothermalPlant.svg">
                    <div class="building-price">0$</div>
                </div>
                <div data-building="fossilPowerPlant" class="building-row">
                    <img src="resources/icons/buildings/FossilPowerPlant.svg">
                    <div class="building-price">0$</div>
                </div>
                <!-- Technology -->
                <div data-technology="carbonFabrication" class="building-row shadow-top">
                    <img src="resources/icons/buildings/CarbonFabrication.svg">
                    <div class="building-price">0$</div>
                </div>
            </div>
            <div class="building-column">
                <div data-building="supplyConnector" class="building-row">
                    <img src="resources/icons/buildings/SupplyConnector.svg">
                    <div class="building-price">0$</div>
                </div>
                <div data-building="constructionSite" class="building-row">
                    <img src="resources/icons/buildings/ConstructionSite.svg">
                    <div class="building-price">0$</div>
                </div>
                <div class="building-row">
                </div>
                <!-- Technology -->
                <div data-technology="nuclearReactors" class="building-row shadow-top">
                    <img src="resources/icons/buildings/NuclearReactors.svg">
                    <div class="building-price">0$</div>
                </div>
            </div>
        </div>
    </div>
</div>