<div data-resource="{{type}}" class="resource">
    <div class="resource__demand">
        <h2>{{type}}</h2>
        <div class="resource__flex-container js-resource-demand">
            <!-- All occurences of $(".js-item-template") will be cloned upon UI initialization (See ui.js) -->
            <div class="item-template js-item-template">
                <img src="resources/icons/others/demand.png">
            </div>
        </div>
    </div>
    <div class="resource__price">
        <div class="img-container">
            <img src="resources/icons/market/{{type}}.png">
        </div>
        <h2 class="js-resource-price">0$</h2>
    </div>
    <div class="resource__flex-container resource__flex-container--reverse js-resource-supply">
        <!-- All occurences of $(".js-item-template") will be cloned upon UI initialization (See ui.js) -->
        <div class="item-template {{#if narrow-icons}}item-template--narrow{{/if}} js-item-template">
            <img src="resources/icons/market/{{type}}.png">
        </div>
    </div>
    <div class="resource__buttons js-resource-buttons">
        <div data-val="-1" class="minus">-</div>
        <div data-val="1" class="plus">+</div>
    </div>
</div>