@import 'colors';
@import 'components/components';

@font-face {
    font-family: "dragon";
    font-weight: lighter !important;
    src: url("../resources/fonts/dragon.ttf") format("truetype");
}

body {
    height: 100%;
    margin: 0;
    color: black;
}

p, div, h1, h2 {
    font-family: dragon, calibri;
    font-weight: lighter !important;
}

p {
    font-size: 34px;
}

.disabled {
    filter: grayscale(1);
    opacity: 0.25;
}

.hidden {
    display: none;
}

.center {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

.img-container {
    flex: 1 1 0;
    position: relative;
    height: 100%;

    width: 40%;
    margin-left: 10%;
    margin-right: 5px;

    > img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.box-content {
    display: flex;
    flex: 1 1 auto;
}

.box-market {
    flex: 1 1 auto;
}

.box-players {
    flex: 3 1 auto;
    outline: 1px solid black;
}