$color-power: #98FB98;
$color-iron: #B55A31;
$color-aluminium: #0099FF;
$color-carbon: #646478;
$color-steel: #F0F0F4;
$color-lithium: #FFEE32;

$color-player-red: #FF4136;
$color-player-green: #2ECC40;
$color-player-yellow: #FFDC00;
$color-player-blue: #0074D9;

$color-income: green;
$color-debt: red;

$color-shadow: #333333;

$color-header-text: dimgrey;
$color-header-background: lightgrey;

$color-player-header-background: rgba(255,255,255, 0.7);

$color-button-hover: rgba(255, 255, 255, 0.4);