$color-power: #acfcac;
$color-iron: #AC9069;
$color-aluminium: #9BD8D1;
$color-carbon: #646478;
$color-steel: #F0F0F4;
$color-lithium: #fffac7;

$color-player-red: #FF826B;
$color-player-green: #92E692;
$color-player-yellow: #FFFF9E;
$color-player-blue: #7492E9;

$color-income: green;
$color-debt: red;

$color-shadow: #333333;

$color-header-text: dimgrey;
$color-header-background: lightgrey;

$color-player-header-background: rgba(255,255,255, 0.7);

$color-button-hover: rgba(255, 255, 255, 0.4);

$color-overlay-background: rgba(0,0,0, 0.6);

$color-button-produce: #28a745;
$color-button-cancel: #dc3545;