/* Resources */
$color-power: #acfcac;
$color-iron: #ac9069;
$color-aluminium: #9bd8d1;
$color-carbon: #646478;
$color-steel: #f0f0f4;
$color-lithium: #fffac7;

$gradient-power: radial-gradient(circle at center, #adfcac, #4f734f);
$gradient-iron: radial-gradient(circle at center, #ac906a, #736044);
$gradient-aluminium: radial-gradient(circle at center, #98d3cc, #557f7a);
$gradient-carbon: radial-gradient(circle at center, #646478, #464650);
$gradient-steel: radial-gradient(circle at center, #f0f0f4, #838386);
$gradient-lithium: radial-gradient(circle at center, #fffbc7, #b7b492);

/* Players */
$color-player-red: #ff826b;
$color-player-green: #92e692;
$color-player-yellow: #ffff9e;
$color-player-blue: #7492e9;

$gradient-player-red: radial-gradient(ellipse at center, #ff826b, #d36b58);
$gradient-player-green: radial-gradient(ellipse at center, #92e692, #80c980);
$gradient-player-yellow: radial-gradient(ellipse at center, #ffff9e, #dbdb87);
$gradient-player-blue: radial-gradient(ellipse at center, #7492e9, #5b74b7);


/* Other */
$color-income: green;
$color-debt: red;


$color-header-text: dimgrey;
$color-header-background: lightgrey;
$gradient-header-background: linear-gradient(135deg, #bfbfbf, #d3d3d3, #bfbfbf);

$color-player-header-background: rgba(255,255,255, 0.73);

$color-button-hover: rgba(255, 255, 255, 0.4);

$color-overlay-background: rgba(0,0,0, 0.6);

$color-button-produce: #28a745;
$color-button-cancel: #dc3545;

$outline: 1px solid black;