body {
  height: 100%;
  margin: 0;
  color: black;
}

p {
  font-family: dragon, calibri;
  font-size: 34px;
}

.disabled {
  filter: opacity(30%);
}

.hidden {
  display: none;
}

.center {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.box-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 0 10px #333333;
}

/* Box item content boxes START */
.box-item-demand {
  flex: 0 1 auto;
}

.box-item-demand > h2 {
  font-family: dragon, calibri;
  font-size: 42px;
  margin-top: 4px;
  margin-bottom: 6px;
}

.box-item-demand > p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.box-item-price {
  display: flex;
  flex: 1 1 0;
}

.box-item-price > h2 {
  margin-left: 5px;
  display: flex;
  align-items: center;
  width: 40%;
  vertical-align: middle;
  margin-right: 10%;
  font-size: 86px;
  margin-top: 0;
  font-family: dragon, calibri;
  line-height: 100%;
  margin-bottom: 0;
}

.box-item-supply {
  flex: 0 1 auto;
}

.box-item-supply p {
  margin-top: 4px;
  margin-bottom: 10px;
}

.box-item-buttons {
  display: inline-flex;
  flex: 0 1 auto;
  font-weight: bold;
  font-family: dragon;
  font-size: 28px;
}

.box-item-buttons > div {
  display: inline-block;
  width: 50%;
  /*box-shadow: inset 0 0 2px $color-shadow;*/
  padding: 5px 0px;
  user-select: none;
}

.box-item-buttons > div:hover {
  background: rgba(255, 255, 255, 0.4);
}

.box-item-player-header {
  display: inline-flex;
  flex: 0 1 auto;
  background: rgba(255, 255, 255, 0.7);
  /*box-shadow: inset 0 0 2px $color-shadow;*/
  padding: 8px 0;
}

.box-item-player-header > div {
  display: inline-block;
  width: 33%;
  font-weight: bold;
  font-family: dragon, calibri;
  font-size: 36px;
}

.box-item-player-header .income {
  color: green;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box-item-player-header .debt {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box-item-player-header .debt .center {
  display: inline-flex;
}

.box-item-player-header .debt .center div {
  display: inline-block;
}

.box-item-player-header .debt img {
  height: 30px;
  padding: 5px 0 5px 10px;
  display: inline-block;
}

.box-item-player-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.box-item-player-content-inventory {
  flex: 1 1 0;
  display: flex;
}

.box-item-player-content-buildings {
  flex: 3 1 0;
  display: flex;
  box-shadow: inset 0px 5px 1px -5px #333333;
}

.building-column {
  display: flex;
  padding: 0;
  flex: 1 1 0;
  flex-direction: column;
  box-shadow: inset 5px 0 1px -5px #333333, inset -5px 0 1px -5px #333333;
  user-select: none;
}

.building-column:first-child {
  box-shadow: inset -5px 0 1px -5px #333333;
}

.building-column:last-child {
  box-shadow: inset 5px 0 1px -5px #333333;
}

.building-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.building-container img {
  margin: 0 3px;
  height: 40px;
  width: 40px;
}

.building-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*for .popover*/
  height: 25%;
  width: 100%;
  padding: 6px 0;
}
.building-row img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}
.building-row--small {
  height: 50%;
  padding: 3px 0;
}
.building-row--small img {
  height: 34px;
  width: 34px;
}

.building-price {
  font-family: dragon;
  font-size: 42px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 6px;
}

.building-multiplier {
  font-family: dragon;
  font-size: 26px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 2px;
}

.building-count {
  font-family: dragon;
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
}

/* Box item content boxes END  */
.shadow-top {
  box-shadow: inset 0px 5px 1px -5px #333333;
}

.shadow-top-right {
  box-shadow: inset -5px 0 1px -5px #333333, inset 0px 5px 1px -5px #333333;
}

.shadow-top-left {
  box-shadow: inset 5px 0 1px -5px #333333, inset 0px 5px 1px -5px #333333;
}

.shadow-right {
  box-shadow: inset -5px 0 1px -5px #333333;
}

.shadow-left {
  box-shadow: inset 5px 0 1px -5px #333333;
}

.shadow-bottom {
  box-shadow: inset 0px -5px 1px -5px #333333;
}

.img-container {
  flex: 1 1 0;
  position: relative;
  height: 100%;
  width: 40%;
  margin-left: 10%;
  margin-right: 5px;
}

.img-container > img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box-item--power {
  background: #acfcac;
}

.box-item--iron {
  background: #AC9069;
}

.box-item--aluminium {
  background: #9BD8D1;
}

.box-item--carbon {
  background: #646478;
}

.box-item--steel {
  background: #F0F0F4;
}

.box-item--lithium {
  background: #fffac7;
}

.box-item--player-red {
  background: #FF826B;
}

.box-item--player-green {
  background: #92E692;
}

.box-item--player-yellow {
  background: #FFFF9E;
}

.box-item--player-blue {
  background: #7492E9;
}

.box-header {
  flex: 0 1 auto;
  text-align: center;
  padding: 0;
  background-color: lightgrey;
  box-shadow: inset 0 0 10px #333333;
}

.box-header > h1 {
  margin: 0;
  color: dimgrey;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-family: dragon, calibri;
  font-size: 30px;
}

.box-content {
  display: flex;
  flex: 1 1 auto;
}

.box-market {
  flex: 1 1 auto;
}

.box-players {
  flex: 3 1 auto;
}

.box-produce {
  flex: 0 1 auto;
  text-align: center;
  padding: 0;
  background-color: lightgrey;
  box-shadow: inset 0 0 10px #333333;
  user-select: none;
}
.box-produce :hover {
  background: rgba(255, 255, 255, 0.4);
}

.box-produce > h1 {
  margin: 0;
  color: dimgrey;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  font-family: dragon, calibri;
  font-size: 28px;
}

/* Prevent overflow on left side of screen */
div[data-player]:first-child .popover {
  left: 0;
  transform: translateY(-50%);
}

.popover {
  width: 235px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* Set to flex when shown */
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
  background: lightgrey;
  border-radius: 5px;
  box-shadow: inset 0 0 10px 1px #333333;
}
.popover img {
  width: 65px;
  height: 65px;
  padding: 5px;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/*# sourceMappingURL=styles.css.map */
