body {
    height: 100%;
    margin: 0;
    color: black;
}

p {
    font-family: dragon, calibri;
    font-size: 34px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

.box-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    text-align: center;
    font-weight: bold;
    box-shadow: inset 0 0 10px #333333;
}

/* Box item content boxes START */
.box-item-demand {
    flex: 0 1 auto;
}

.box-item-demand > h2 {
    font-family: dragon, calibri;
    font-size: 42px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.box-item-demand > p {
    margin-top: 14px;
}

.box-item-price {
    display: flex;
    flex: 1 1 0;
}

.box-item-price > h2 {
    margin-left: 5px;
    display: flex;
    align-items: center;
    width: 40%;
    vertical-align: middle;
    margin-right: 10%;
    font-size: 86px;
    margin-top: 0;
    font-family: dragon, calibri;
    line-height: 100%;
    margin-bottom: 0;
}

.box-item-supply {
    flex: 0 1 auto;
}
/* Box item content boxes END */



.img-container {
    flex: 1 1 0;
    position: relative;
    height: 100%;

    width: 40%;
    margin-left: 10%;
    margin-right: 5px;
}

.img-container > img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box-item--power {
    background: #98FB98;
}

.box-item--iron {
    background: #B55A31;
}

.box-item--aluminium {
    background: #0099FF;
}

.box-item--carbon {
    background: #646478;
}

.box-item--steel {
    background: #F0F0F4;
}

.box-item--lithium {
    background: #FFEE32;
}

.box-item--player-red {
    background: #FF4136;
}

.box-item--player-green {
    background: #2ECC40;
}

.box-item--player-yellow {
    background: #FFDC00;
}

.box-item--player-blue {
    background: #0074D9;
}

.box-header {
    flex: 0 1 auto;
    text-align: center;
    padding: 0;
    background-color: lightgrey;
    box-shadow: inset 0 0 10px #333333;
}

.box-header > h1 {
    margin: 0;
    color: dimgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: dragon, calibri;
    font-size: 38px;
}

.box-content {
    display: flex;
    flex: 1 1 auto;
}

.box-market {
    flex: 1 1 auto;
}

.box-players {
    flex: 2 1 auto;
}

.box-footer {
    flex: 0 1 auto;
    text-align: center;
    padding: 0;
    background-color: lightgrey;
    box-shadow: inset 0 0 10px #333333;
}

.box-footer > h1 {
    margin: 0;
    color: dimgrey;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-family: dragon, calibri;
    font-size: 28px;
}