/* Resources */
/* Players */
/* Other */
#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

/* Prevent overflow on left side of screen */
div[data-player]:first-child .popover {
  left: 0;
  transform: translateY(-50%);
}

/* Select mine type */
.popover {
  width: 235px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* Set to flex when shown */
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
  background: lightgrey;
  outline: 1px solid black;
}
.popover img {
  width: 65px;
  height: 65px;
  padding: 5px;
}

/* Produce window */
.popup {
  position: absolute;
  width: 90%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background: lightgrey;
  outline: 1px solid black;
  display: none;
  /* Set to flex when shown */
  flex-direction: column;
}
.popup .prod-demand > h1 {
  text-align: center;
}
.popup .prod-table {
  flex: 1 1 auto;
  display: flex;
}
.popup .prod-table__column {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
.popup .prod-table__column[data-player=red] {
  background: #ff826b;
}
.popup .prod-table__column[data-player=blue] {
  background: #7492e9;
}
.popup .prod-table__column[data-player=green] {
  background: #92e692;
}
.popup .prod-table__column[data-player=yellow] {
  background: #ffff9e;
}
.popup .prod-table__column__header {
  display: inline-flex;
  flex: 0 1 auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px 0;
}
.popup .prod-table__column__header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0 auto;
}
.popup .prod-table__column__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}
.popup .prod-buttons {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
}
.popup .prod-buttons > div {
  display: inline-block;
  padding: 14px 20px;
  text-align: center;
  font-size: 34px;
  outline: 1px solid black;
  width: 25%;
  user-select: none;
}
.popup .prod-buttons__produce {
  background: #28a745;
}
.popup .prod-buttons__cancel {
  background: #dc3545;
}

.resource {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  text-align: center;
  font-weight: bold;
  outline: 1px solid black;
}
.resource__demand {
  flex: 0 1 auto;
}
.resource__demand > h2 {
  text-transform: capitalize;
  font-size: 42px;
  margin-top: 4px;
  margin-bottom: 6px;
}
.resource__demand > div {
  margin-top: 6px;
  margin-bottom: 0px;
  height: 72px;
}
.resource__price {
  display: flex;
  flex: 1 1 0;
  margin-top: -14px;
}
.resource__price > h2 {
  margin-left: 5px;
  display: flex;
  align-items: center;
  width: 40%;
  margin-right: 10%;
  font-size: 86px;
  margin-top: 0;
  line-height: 100%;
  margin-bottom: 0;
}
.resource__flex-container {
  flex: 0 1 auto;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 0 10px;
}
.resource__flex-container--reverse {
  flex-wrap: wrap-reverse;
}
.resource__flex-container .item-template {
  display: inline-flex;
}
.resource__flex-container .item-template--narrow > img {
  margin: 0 -6px;
}
.resource__flex-container .item-template--inactive > img {
  filter: grayscale(1);
  opacity: 0.2;
}
.resource__flex-container .item-template--hidden > img {
  display: none;
}
.resource__flex-container .item-template > img {
  padding: 0 1px;
  width: 38px;
  height: 38px;
}
.resource__buttons {
  display: inline-flex;
  flex: 0 1 auto;
  font-weight: bold;
  font-size: 28px;
  outline: 1px solid black;
}
.resource__buttons :nth-child(1) {
  outline: none;
}
.resource__buttons > div {
  display: inline-block;
  width: 50%;
  padding: 5px 0px;
  user-select: none;
  outline: 1px solid black;
}
.resource__buttons > div:hover {
  background: rgba(255, 255, 255, 0.4);
}
.resource[data-resource=power] {
  background: #acfcac;
  background: radial-gradient(circle at center, #adfcac, #4f734f);
}
.resource[data-resource=iron] {
  background: #ac9069;
  background: radial-gradient(circle at center, #ac906a, #736044);
}
.resource[data-resource=aluminium] {
  background: #9bd8d1;
  background: radial-gradient(circle at center, #98d3cc, #557f7a);
}
.resource[data-resource=carbon] {
  background: #646478;
  background: radial-gradient(circle at center, #646478, #464650);
}
.resource[data-resource=steel] {
  background: #f0f0f4;
  background: radial-gradient(circle at center, #f0f0f4, #838386);
}
.resource[data-resource=lithium] {
  background: #fffac7;
  background: radial-gradient(circle at center, #fffbc7, #b7b492);
}

.player {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  text-align: center;
  font-weight: bold;
  outline: 1px solid black;
}
.player[data-player=red] {
  background: #ff826b;
  background: radial-gradient(ellipse at center, #ff826b, #d36b58);
}
.player[data-player=blue] {
  background: #7492e9;
  background: radial-gradient(ellipse at center, #7492e9, #5b74b7);
}
.player[data-player=green] {
  background: #92e692;
  background: radial-gradient(ellipse at center, #92e692, #80c980);
}
.player[data-player=yellow] {
  background: #ffff9e;
  background: radial-gradient(ellipse at center, #ffff9e, #dbdb87);
}
.player__header {
  background: rgba(255, 255, 255, 0.7);
  display: inline-flex;
  flex: 0 1 auto;
  padding: 8px 0;
}
.player__header__item {
  flex: 1 1 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
}
.player__header__item div {
  font-weight: bold;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
}
.player__header__item .income {
  color: green;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.player__header__item .debt {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.player__header__item img {
  height: 30px;
  display: inline-block;
  padding: 5px 0;
}
.player__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.player__content__inventory {
  flex: 1 1 0;
  display: flex;
  outline: 1px solid black;
}
.player__content__buildings {
  flex: 3 1 0;
  display: flex;
}
.player__content__buildings > div:nth-child(odd) {
  margin-top: 1px;
}

.header {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  text-align: center;
  padding: 0;
  outline: 1px solid black;
  user-select: none;
  height: 44px;
  background-color: lightgrey;
  background: linear-gradient(135deg, #bfbfbf, #d3d3d3, #bfbfbf);
}
.header__item {
  flex: 0 1 auto;
  outline: 1px solid black;
}
.header__item:nth-child(odd) {
  outline: none;
}
.header__item:hover {
  background: rgba(255, 255, 255, 0.4);
}
.header__item--grow {
  flex: 1 1 auto;
}
.header__item > img {
  padding: 8px 10px;
  width: 28px;
  height: 28px;
  filter: opacity(0.7);
}
.header__item > h1 {
  margin: 0;
  color: dimgrey;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
}

.footer {
  flex: 0 1 auto;
  text-align: center;
  padding: 0;
  outline: 1px solid black;
  user-select: none;
  background-color: lightgrey;
  background: linear-gradient(135deg, #bfbfbf, #d3d3d3, #bfbfbf);
}
.footer > h1 {
  display: inline-flex;
  padding: 6px 12px;
  margin: 0;
  color: dimgrey;
  font-weight: bold;
  font-size: 30px;
}

@font-face {
  font-family: "dragon";
  src: url("../resources/fonts/dragon.ttf") format("truetype");
}
body {
  height: 100%;
  margin: 0;
  color: black;
}

p, div, h1, h2 {
  font-family: dragon, calibri;
}

p {
  font-size: 34px;
}

.disabled {
  filter: opacity(30%);
}

.hidden {
  display: none;
}

.center {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

/* Box item content boxes START */
.building-column {
  display: flex;
  padding: 0;
  flex: 1 1 0;
  flex-direction: column;
  outline: 1px solid black;
  user-select: none;
}
.building-column:nth-child(2n) {
  outline: none;
}

.building-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.building-container img {
  margin: 0 3px;
  height: 40px;
  width: 40px;
}

.building-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*for .popover*/
  height: 25%;
  width: 100%;
  padding: 6px 0;
}
.building-row img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}
.building-row--small {
  height: 50%;
  padding: 3px 0;
}
.building-row--small img {
  height: 34px;
  width: 34px;
}

.building-price {
  font-size: 42px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 6px;
}

.building-multiplier {
  font-size: 26px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 2px;
}

.building-count {
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
}

/* Box item content boxes END  */
.img-container {
  flex: 1 1 0;
  position: relative;
  height: 100%;
  width: 40%;
  margin-left: 10%;
  margin-right: 5px;
}
.img-container > img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box-content {
  display: flex;
  flex: 1 1 auto;
}

.box-market {
  flex: 1 1 auto;
}

.box-players {
  flex: 3 1 auto;
  outline: 1px solid black;
}

/*# sourceMappingURL=styles.css.map */
